body {
	background-color: #f2fbff;
}
a {
    color: #b8e7f9;
}
a img {
    border: medium none;
}
img {
    vertical-align: middle;
}
li {
    list-style: outside none none;
}


#container-fluid {
	min-width: 800px;
}

/*
 * header
 */
.header {
	height: 128px;
	background-color: #0a2540;
}
.header * {
	display: none;
}
.header_top {
    height: 80px;
}
.logo {
    float: left;
    margin-left: 160px;
}
.collection {
    float: right;
    margin-right: 170px;
    margin-top: 15px;
}
.collection a {
    text-decoration: none;
}

.my-nav {
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    padding-left: 160px;
    background-color: #184b80;
}
.my-nav li {
    float: left;
    text-align: center;
    width: 91px;
    height: 48px;
    display: block;
}
.my-nav li a {
	padding: 0;
	color: #b8e7f9;
	display: block;
	text-decoration: none;
}
.my-nav li.active a, .my-nav li.active a:HOVER{
	background-color: #003366;
	background: linear-gradient(to left, #0a2540, #003366, #0a2540);
	color: #FFFFCC;
	text-shadow: none;
}
.my-nav li a:HOVER, .my-nav li a:FOCUS  {
	background: none;
	background-color: rgba(0,0,0,0.2);
	color: #FFFFCC;
	text-shadow: 0px 0px 5px #FFFFCC;
}


/*
 * main-content
 */
.main-content {
	min-height: 100px;
}
.left-menu {
	border-right: 1px solid #ccc;
	width: 19%;
	max-width: 180px;
	min-height: 400px;
	float: left;
	box-shadow: 8px 0px 10px rgba(0,0,0,0.2) inset;
}
.right-content{
	min-height: 400px;
	width: 80%;
	float: left;
	padding: 10px;
}
.left-menu ul {
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
}
.left-menu ul li {
	margin-top: 5px;
	margin-right: -1px;
	border-right: 1px solid #ccc;
}
.left-menu ul li.active, .left-menu ul li.active:HOVER {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #FFF;
	background-color: #077cbf;
	background: linear-gradient(to right, #0a2540, #184b80, #077cbf, #FFF);
	box-shadow: 10px 0px 10px rgba(0,0,0,0.2) inset;
}
.left-menu ul li:HOVER {
	background-color: rgba(0,0,0,0.1);
}
.left-menu ul li a {
	display: block;
	text-decoration: none;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #6699CC;
}
.left-menu ul li.active a {
	color: #FFFF66;
	text-shadow: 0px 0px 10px #FFFF66;
	height: 45px;
	line-height: 45px;
}
 
/*
 * footer
 */
.footer {
    background-color: #184b80;
    color: #b8e7f9;
    font-size: 10px;
    height: 130px;
    padding-top: 28px;
    text-align: center;
}
.footer * {
	 display: none;
}
.footer .link-p a:HOVER {
	color: #b8e7f9;
}
.footer p {
    font-size: 14px;
    margin-bottom: 16px;
}
.footer p a {
    padding-left: 8px;
    padding-right: 14px;
}
.footer p a:HOVER {
	text-decoration: none;
	color: #FFFF99
}
