.recruitment-list {
	margin-left: 50px;
	min-width: 600px;
	max-width: 800px;
}

.right-content .title {
	background: none;
	width: 500px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	color: #3366FF;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}